/*==========  Desktop First Method  ==========*/
/* Small Devices, Tablets */
@media only screen and (min-width : 992px) {
    .toggleMenu{
        display: none!important;
    }
    
    body.active{
        padding-top: 151px;
    }
    
    .nav{
        display: inline-block!important;
    }
    
    .sticky.header{
        position: fixed;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    
    .sticky .inner{
        padding-bottom: 15px;
    }
    
    .nosticky{
        
    }
    
    .sticky .slogan,
    .sticky .phone,
    .sticky .callback_container,
    .sticky .place{
        display: none;
    }
    
    .sticky .bottom{
        width: 85%;
        position: static;
        float: left;
        padding-top: 3px;
    }
}

@media only screen and (max-width : 1600px){
    
}

@media only screen and (max-width : 1440px){
    
    .slider .bx-wrapper .bx-prev{
        left: 2%;
    }
    
    .slider .bx-wrapper .bx-next{
        right: 2%;
    }
    
    .slider .col{
        padding-left: 60px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
 
    

}

@media only screen and (max-width : 1199px) {
    .header .place{
        display: none;
    }
    
    .header .logo{
        width: 19%;
    }
    
    .sticky .logo{
        width: 14%;
    }
    
    .sticky .bottom{
        width: 86%;
        padding-top: 0px;
        margin-top: -3px;
    }
    
    .sticky .logo > span{
        margin-left: 10px;
    }
    
    .sticky .nav > li{
        margin-left: 11px;
    }
    
    .header .slogan{
        width: 31%;
    }
    
    .header .phone{
        width: 23%;
    }
    
    .header .callback_container{
        width: 27%;
    }
    
    .services,
    .blog{
        padding-top: 30px;
    }
    
    .catalog_list,
    .popular,
    .info_block,
    .content_top .inner{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .title_block{
        margin-bottom: 30px;
    }
    
    .catalog_list .item{
        padding: 25px;
    }
    
    .catalog_list_in .item{
        width: 100%;
        float: none;
        height: auto;
    }
    
    .catalog_list_in .item, 
    .catalog_list_in .item:nth-child(2){
        border-top: 1px solid #efefef;
        border-left: none!important;
    }
    
    .catalog_list_in .item:first-of-type{
        border-top: 0!important;
    }
    
    .catalog_list .item .left{
        width: 135px;
    }
    
    
    
    .catalog_list .item .right{
        margin-left: 155px;
    }
    
    .reviews{
        padding-top: 55px;
        padding-bottom: 90px;
    }
    
    .reviews_in{
        margin-top: 25px;
        padding-bottom: 35px;
    }
    
    .owl-controls .owl-prev,
    .owl-controls .owl-next{
        top: -117px;
    }
    
    .partners{
        padding-bottom: 40px;
    }
    
    .footer .left{
        width: 80%;
    }
    
    .footer .right{
        width: 20%;
    }
    
    .content .sidebar{
        width: 27%;
    }
    
    .content .main_block{
        width: 73%;
        padding-left: 30px;
    }
    
    .catalog_items .item .bottom > div{
        width: 48%;
    }
    
    .catalog_items .item .pic{
        
    }
    
    .catalog_items_list .item .bottom > div{
        width: 66%;
    }
    
    .catalog_items_table .item .name{
        width: 38%;
    }
    
    .catalog_items_table .price{
        width: 23%;
    }
    
    .catalog_items_table .item .bottom{
        width: 39%;
    }
    
    .picking .owl-controls .owl-prev, .picking .owl-controls .owl-next {
        top: -45px;
    }
    
    .service_detail .action .btn{
        width: 130px;
    }
    
    .service_detail{
        margin-bottom: 30px;
    }
    
    .jack .right{
        padding-left: 15px;
    }
    
    .jack .left{
        width: 195px;
    }
    
    .jack .right{
        margin-left: 195px;
    }
    
    .projects_list .item{
        width: 50%;
    }
}

@media only screen and (max-width : 1024px){
    .services .items{
        margin: 0 -10px;
    }
    
    .services .item{
        padding: 0 10px;
    }
    
    .tile{
        margin: 0 -10px;
    }
    
    .tile .item{
        padding: 0 10px;
    }
    
    .blog .items{
        margin: 0 -10px;
        padding-top: 30px;
    }
    
    .blog .item{
        padding: 0 10px;
    }
    
    .info_block .left{
        padding-right: 60px;
    }
    
    .ques{
        padding: 30px 45px;
    }
    
    .ques .right{
        padding-left: 30px;
    }
    
    .tile_in .item{
        width: 50%;
    }
    
    .show_more{
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .catalog_items_list .item .pic{
        width: 180px;
    }
    
    .catalog_items_list .item .description{
        margin-left: 180px;
    }
    
    .advantages_in,
    .good .good_top{
        margin-bottom: 35px;
    }
    
    .picking{
        margin-top: 30px;
    }
    
    .basket table tbody tr td:first-child{
        max-width: 0;
    }
    
    .basket .description .name{
        font-size: 12px;
    }
    
    .basket .price{
        font-size: 13px;
    }
    
    .basket .photo{
        width: 50px;
        height: 50px;
    }
    
    .basket .description{
        margin-left: 60px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

@media only screen and (max-width : 991px){
    .header .inner{
        padding-bottom: 45px;
        padding-top: 10px;
    }

    .sticky .bottom {
        width: 100%;
    }

    .sticky .nav > li {
        margin-left: 0px;
    }
    
    .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    
    .nav {
        width: 100%;
        position: absolute;
        top: 102%;
        left: 0px;
        background: #fff;
        z-index: 9;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .mmenu_type_2 .nav {
        display: none;
    }
    
    .nav > li{
        margin-left: 0;
        float: none;
    }
    
    .nav > li.hover > ul{
        width: 100%;
        left: 0;
    }
    
    .nav a{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
    }
    
    .nav li ul{
        min-width: 0;
        width: 100%;
        
    }
    
    .nav li ul ul{
        background: #f9f9f9;
    }
    
    .header .slogan{
        display: none;
    }
    
    .header .logo{
        width: 37%;
    }        
    
    .header .phone{
        width: 30%;
    }
    
    .header .callback_container{
        width: 33%;
    }
    
    .slider .col{
        width: 90%;
    }
    
    .slider .inner{
        padding-top: 40px;
    }
    
    .slider li{
        height: 345px;
    }
    
    .advantages .item{
        width: 50%;
        border: none;
    }
            
    .advantages .item:last-child{
        border: none;
    }

    .tile .item{
        width: 33.33%;
    }
    
    .blog .item{
        width: 50%;
        margin-bottom: 20px;
    }
    
    .info_block .left{
        width: 100%;
        float: none;
        padding-right: 0;
    }
    
    .info_block .right{
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    
    .map_main .chisel{
        padding: 25px 15px;
        max-width: 267px;
    }
    
    .footer .left{
        width: 100%;
        float: none;
    }
    
    .footer .right{
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    
    .footer .links{
        width: 32%;
    }
    
    .content .sidebar{
        display: none;
    }
    
    .content .main_block{
        width: 100%;
        padding-left: 0px;
        float: none;
    }
    
    .content .inner{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .good_top .right{
        margin-left: 370px;
    }
    
    .progress .item .num:before{
        display: none;
    }
    
    .contacts_in .item{
        width: 50%;
        margin-bottom: 20px;
    }

    .content .filter-action {
        display: inline-block;
    }

    .content .bx-filter {
        display: none;
    }
    div#modef {
        display: none;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header .logo {
        width: 25%;
        text-align: center;
        float: left;
        margin-bottom: 15px;
    }       

    .header .callback_container {
        width: 25%;
        float: right;
        text-align: center;
    }
    
    .header .phone {
        width: 50%;
        max-width: 200px;
        float: left;
        margin: 7px;
        margin-left: 15px;
    }

    .header .phone .big {
        font-size: 16px;
    }

    .slider .bx-wrapper .bx-prev,
    .slider .bx-wrapper .bx-next{
        display: none;
    }
    
    .slider .col{
        padding-left: 0;
        width: 100%;
    }
    
    .bx-wrapper .bx-pager{
        bottom: 20px;
    }
    
    .services .items{
        margin: 0px;
    }

    .services .item {
        width: 50%;
        max-width: 360px;
        float: left;
        padding: 10px;
    }

    .services .item ul { 
        padding-bottom: 20px; 
    }

    .services .title_block{
        display: block;
    }

    .services .item .name {
        max-width: 100%;
        left: 0px;
    }

    .services .item .description {
        height: 130px;
    }

    .services .item p {
        font-size: 14px;
    }
    
    .services .more, .catalog_list .more, .blog .more, .news .more {
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
        display: block;
    }

    .catalog_list .item, .catalog_list.line .item {
        width: 50%;
        float: left;
        border: 1px solid #efefef !important;
    }

    .title_block,
    .news .title_block{
        display: block;
        font-size: 32px;
        line-height: 36px;
    }

    .catalog_items .item .pic img {
        max-width: 70%;
    }
    
    .blog .title_block{
        display: block;
    }
    
    .tabs_caption{
        margin-bottom: 25px;
    }
    
    .tabs_caption li{
        margin-left: 0px;
        font-size: 14px;
    }

    .tabs_caption li.active {
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
    
    .tile{
        margin: 0;
    }
    
    .tile .item {
        width: 50%;
        max-width: 100%;
        float: left;
        margin: 0 auto 20px;
        padding: 0;
    }

    .ques .left{
        width: 100%;
        float: none;
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 2px solid #fff;
    }
    
    .ques .right{
        width: 100%;
        float: none;
        padding-left: 0;
        text-align: center;
    }
    
    .reviews_item .top{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .reviews_item .quote{
        left: 15px;
    }
    
    .reviews_item .bottom{
        padding: 25px 15px 15px 55px;
    }
    
    .map_main{
        height: 430px;
    }
    
    .footer .links{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .footer{
        padding-bottom: 50px;
    }
    
    .footer .social{
        margin-top: 30px;
    }
    
    .footer .social span{
        display: none;
    }
    
    .form .cols{
        margin: 0;
    }
    
    .form .col{
        width: 100%;
        float: none;
        padding: 0;
    }
    
    .form .select{
        margin-bottom: 15px;
    }
    
    .popup{
        width: 410px;
    }
    
    .content h1{
        font-size: 26px;
        line-height: 34px;
    }
    
    .sorting .right{
        width: 100%;
        float: none;
    }
    
    .pag li a{
        width: 18px;
        height: 18px;
        line-height: 18px;
    }
    
    
    .pag li.first, .pag li.right{
        font-size: 11px;
    }
    
    .catalog_items_list .item .pic{
        width: 100%;
        float: none;
        border-bottom: 1px solid #efefef;
    }
    
    .catalog_items_list .item .description{
        margin-left: 0;
        padding: 25px;
        border-left: 0;
    }
    
    .catalog_items_list .tile .item,
    .catalog_items_list .item > div{
        height: auto;    
    }
    
    .catalog_items_list .item .bottom{
        position: static;
        width: 100%;
        border-left: 0;
        padding-top: 15px;
        border-top: 1px solid #efefef;
    }
    
    .catalog_items_table .item .pic{
        width: 100%;
        float: none;
    }
    
    .catalog_items_table .tile .item,
    .catalog_items_table .item > div{
        height: auto;
    }
    
    .catalog_items_table .item .pic{
        
    }
    
    .catalog_items_table .item .description{
        margin-left: 0;
        height: auto;
    }
    
    .catalog_items_table .item .name,
    .catalog_items_table .price,
    .catalog_items_table .item .bottom{
        width: 100%;
    }
    
    .catalog_items_list .item > div:hover{
        height: auto;
    }

    .catalog_items_table .item > div:hover{
        height: auto;
    }
    
    .good_top .left{
        width: 100%;
        float: none;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .good_top .right{
        margin-left: 0;
        text-align: center;
    }
    
    .good .price{
        font-size: 28px;
    }
    
    .services_in .item .description{
        height: auto;
    }
    
    .services .item ul{
        width: 100%;
    }
    
    .content_item .photo{
        float: none;
        width: 100%;
    }
    
    .content_item .right{
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    
    .service_detail .action .col{
        width: 100%!important;
        float: none;
        border: none!important;
        height: auto;
        min-height: 0;
    }
    
    .service_detail .action .col:last-child{
        text-align: center;
    }
    
    .jack .left{
        width: 100%;
        float: none;
    }
    
    .jack .right{
        margin-left: 0;
        border: none;
        position: relative;
    }
    
    .jack .left span{
        padding-top: 0;
        margin-bottom: 25px;
    }
    
    .jack{
        padding: 30px 15px;
    }
    
    .jack .photo{
        float: none;
    }
    
    .jack .description{
        margin-left: 0;
        position: static;
    }
    
    .projects .items{
        margin: 0;
    }
    
    .projects .item{
        width: 100%;
        max-width: 320px;
        float: none;
        padding: 0;
        margin: 0 auto 20px;
    }
    
    .projects_list .items{
        margin: 0;
    }
    
    .projects_list  .item{
        width: 100%;
        max-width: 320px;
        float: none;
        padding: 0;
        margin: 0 auto 20px;
    }
    
    .sorting .left > span{
        display: none;
    }
    
    .good .cost{
        font-size: 26px;
    }
    
    .characteristic ul li span:first-child{
        width: 50%;
    }
    
    .docs .item{
        width: 100%;
    }

    .docs.page .item{
        width: 100%;
    }
    
    .why .top{
        padding: 15px;
    }
    
    .why .item{
        width: 100%;
    }
    
    .why .bottom{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .progress .item{
        width: 50%;
    }
    
    .partners_list .item{
        width: 50%;
    }
    
    .reviews .soc{
        top: 47px;
    }
    
    .worker .item{
        width: 50%;
    }
    
    .accardion_item .top{
        padding-left: 25px;
    }
    
    .accardion_item .full{
        padding-left: 25px;
    }
    
    .accardion_item .description{
        padding: 15px;
    }
    
    .accardion .salary{
        display: block;
        float: none;
        margin-top: 15px;
    }
    
    .basket.page table tbody tr,
    .basket.page table tbody tr td{
        width: 100%;
        display: block !important;
        max-width: 100%!important;
        text-align: center;
        padding: 5px;
    }
    
    .basket.page table tbody tr {
        border: 1px solid #efefef;
        margin-bottom: 10px;
        box-shadow: 0 0 5px 0px rgba(0,0,0,.1);
        position: relative;
    }

    .basket.page table tbody .basket_item td.remove_bl {
        position: absolute;
        top: 0px;
        right: 10px;
        width: 20px;
    }
    
    .basket.page table,
    .basket.page table tbody{
        display: block;
    }
    
    .basket.page .photo {
        width: 100px;
        height: 100px;
        float: none;
        margin: 0 auto;
    }
    
    .basket.page .availability{
        display: inline-block;
    }
    
    .basket.page .description{
        margin-left: 0;
    }
    
    .basket.page .description{
        text-align: center;
    }
    
    .basket.page .description .name{
        text-align: center;
    }
    
    .basket.page .amount{
        margin: 0 auto;
    }
    
    .basket.page table thead{
        display: none;
    }
    
    .basket.page .btn_container > div{
        display: block;
    }
    
    .basket.page .btn_container > div:last-child{
        float: none;
        margin-top: 25px;
    }
    .basket.page .clearfix {
        height: auto; 
        text-align: center;
    }
    .offices .item{
        width: 100%;
        float: none;
        height: auto;
    }
    
    .reference{
        margin-bottom: 20px;
    }
    
    .map_contacts .chisel{
        margin-top: 20px;
        position: relative;
        top: -170px;
    }
    
    .map_contacts{
        margin-top: 120px;
    }

    .gallery_standart .item {
        width: 49%;
    }

  
}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 600px){
  
}


@media only screen and (max-width : 599px) {

    .header .logo {
        width: 50%;
        text-align: center;
        float: left;
        margin-bottom: 15px;
    }
    .header .phone {
        width: 50%;
        max-width: 100%;
        float: right;
        text-align: right;
        padding-left: 0px;
        margin: 0px;
        padding-top: 5px;
    }
    .header .phone:before {
        display: none;
    }
    .header .callback_container {
        width: 100%;
        float: none;
        text-align: center;
        display: none;
        padding-top: 0px;
    }
    .advantages .item{
        width: 100%;
        float: none;
    }

    .catalog_list .item,
    .catalog_list.line .item{
        width: 100%;
        float: none;
    }

    .catalog_list .item .left{
        width: 100%;
        float: none;
    }
    
    .catalog_list .item .right{
        margin-left: 0;
        text-align: center;
    }
    
    .catalog_list .item{
        height: auto;
    }
    
    .catalog_list .item .pic{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .blog .items{
        margin: 0;
    }
    
    .blog .item{
        width: 100%;
        max-width: 100%;
        float: none;
        padding: 0;
        margin: 0 auto 20px;
    }
    
    .contacts_in .items{
        margin: 0;
    }
    
    .contacts_in .item{
        width: 100%;
        float: none;
        padding-right: 0;
    }
    .order .left {
        width: 100%;
        float: none;
        padding-right: 0px;
    }
    .order .right {
        width: 100%;
        float: none;
        margin-top: 30px;
    }

    .services .item{
        padding: 0;
        width: 100%;
        max-width: 100%;
        float: none;
        margin: 0 auto 20px;
    }
    .tile .item {
        max-width: 100%;
        width: 100%;
    }
    .nav {
        top: 115%;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .tabs_caption li {
        margin-right: 20px;
    }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .header .search {
        position: initial;
    }

    .search_drop {
        width: 100vw;
        left: 1px;
    }

    .nav > li {
        border-bottom: 1px solid #f9f9f9;
    }

    .nav > li > a {
        font-size: 18px;
    }

    .slider .title_slider{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    
    .slider p{
        margin-top: 15px;
        line-height: 20px;
    }
    
    .slider .title_slider br,
    .slider p br{
        display: none;
    }
    
    .slider .btn{
        width: 100%;
    }
    
    .catalog_list .item ul{
        width: 100%;
    }
    
    .catalog_list .item{
        padding: 15px;
    }
    
    .ques{
        padding: 30px 25px;
    }
    
    .ques .sign{
        display: none;
    }
    
    .ques .description{
        margin-left: 0;
    }

    .jqmWindow.show {
        width: 100% !important;
        margin-left: 0px !important;
        left: 0 !important;
    }

    .jqmClose.top-close {
        top: 10px;
        right: 10px;
    }
    
    .popup{
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .popup h2{
        font-size: 28px;
        line-height: 34px;
    }
    
    .popup .bottom > div{
        display: block;
        margin-right: 0;
    }
    
    .popup .bottom{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    
    .popup .form .btn{
        width: 100%;
        max-width: 180px;
    }
    
    .popup .form .btn_main{
        margin-top: 25px;
    }
    
    .profit .circle{
        display: none;
    }
    
    .profit{
        padding-left: 15px;
    }
    
    .partners_list .item{
        width: 100%;
        float: none;
    }
    
    .worker .item{
        width: 100%;
        float: none;
    }
    
    .table_price table tbody tr td,
    .table_price table thead tr td{
        font-size: 10px;
        line-height: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .table_price table tr td:first-child{
        padding-left: 10px;
    }
    
    .table_price table tr td:last-child{
        padding-right: 10px;
    }
    
    .table_price table tr td:last-child{
        width: auto;
    }
    
    .error_404{
        background-size: 260%;
    }
    
    .error_404{
        padding-top: 260px;
    }

    .gallery_standart .item {
        width: 100%;
    }
    .vbf-requisites-table td {
        padding: 8px 0px;
    }
    .good .btn_container {
        margin: 0 auto;
        text-align: center;
    }
    .good .description {
        font-size: 14px;
        text-align: center;
    }
    .select .checked {
        width: 100%;
    }
    .banners-content span {
        font-size: 2em;
        padding-bottom: 15px;
    }
    .banners-content .text {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        text-align: center;
    }
    .service_detail .action .btn {
        width: 100%;
    }
    .basket .basket_empty {
        padding: 10px;
    }
    .basket .basket_empty>.wrap {
        padding: 10px;
    }
    .order .total {
        text-align: center;
    }
    .order .total > span {
        width: 100%;
    }

    .footer .social li {
        margin-right: 10px;
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media only screen and (max-width : 380px){
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .jqmWindow.show .g-recaptcha.rendered {
        margin-left: -15px;
    }
    .search_drop {
        width: 240px;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}